.about {
    .container {
        min-width: 400px;
        text-align: right;
        .link-user {
            margin: 0;
            display: flex;
            gap: 10px;
            width: 100%;
            box-shadow: 0px 12px 20px rgba(177, 184, 179, 0.31), 0px 12px 20px rgba(165, 171, 167, 0.34);
            background-color: rgb(255, 255, 255);
            a{
                padding: 10px;
                text-align: center;
                font-weight:bold;
                transition: 0.5s;
                cursor: pointer;
                color:rgba(0, 30, 43, 0.555);
                border-radius: 2px;
                font-size: 19px;
               &:hover {
                    color: #000;
                    background-color: rgba(199, 199, 199, 0.592);
                }
            }
        }
    }
}