
.header-box {
    .img {
        max-width: 300px;
        margin: 10px auto;
        img {
            width: 100%;
            border-radius: 10px;
            height: auto;
            height: 120px;
        }
    }
}