
.animation {
display: flex;
// position: absolute;
// top: 50%;
// flex-direction:row-reverse;
// right: 50%;
// background-color: #eee;
div {
    margin: 4px;
    width: 10px;
    height: 10px;
    background-color: var(--color-mine);
    border-radius: 50%;
    margin-top: 10px;
    animation: up-and-down 0.6s infinite alternate ;     
    &:nth-child(2) {
        animation-delay: 0.2s;
    }   
    &:nth-child(3) {
        animation-delay: 0.4s;
    }   
}
}
@keyframes up-and-down {
to {
    opacity: 0.2;
    transform: translateY(-10px);
}
}